// COLEMAK-DH
ZMK_BASE_LAYER(Base,
//╭─────────────┬─────────────┬───────────────┬───────────────┬───────────────────╮ ╭───────────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   Q_ESC             AS(W)      AS(F)           AS(P)           AS(B)             ,   AS(J)               AS(L)         AS(U)         AS(Y)         AS(SQT)     ,
//├─────────────┼─────────────┼───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &hml LCTRL A    &hml LALT R   &hml LGUI S    &hml LSHFT T   &hml LG(LC(LALT)) G,  &hmr LG(LC(LALT)) M  &hmr RSHFT N  &hmr LGUI E  &hmr LALT I  &hmr LCTRL O  ,
//├─────────────┼─────────────┼───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   AS(Z)           AS(X)         AS(C)          AS(D)           AS(V)             ,   AS(K)               AS(H)         SMART_COMMA   SMART_DOT    Q_EXCL_SLSH  ,
//╰─────────────┼─────────────┴───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┴───────────────────────────╯
                                                &lt_spc NAV 0        SFT_TAB      ,   FN_DEL             SMART_NUM                                              
//                                            ╰───────────────┴───────────────────╯ ╰───────────────────┴─────────────╯                                          
)

