

// NIRO
ZMK_BASE_LAYER(Base,
//╭─────────────┬─────────────┬───────────────┬───────────────┬───────────────────╮ ╭───────────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   Q_ESC             AS(W)      AS(U)           AS(D)           AS(P)             ,   AS(J)               AS(F)         AS(Y)         AS(L)         AS(SQT)     ,
//├─────────────┼─────────────┼───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &hml LCTRL A    &hml LALT S   &hml LGUI E    &hml LSHFT T   &hml LG(LC(LALT)) G,  &hmr LG(LC(LALT)) H  &hmr RSHFT N  &hmr LGUI I  &hmr LALT R    &hmr LCTRL O,
//├─────────────┼─────────────┼───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   AS(Z)           AS(X)         AS(C)          AS(V)           AS(B)             ,   AS(K)               AS(M)         SMART_COMMA   SMART_DOT    Q_EXCL_SLSH  ,
//╰─────────────┼─────────────┴───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┴───────────────────────────╯
                                                &lt_spc NAV 0        SFT_TAB      ,   CMD_DEL             SMART_NUM                                              
//                                            ╰───────────────┴───────────────────╯ ╰───────────────────┴─────────────╯                                          
)

ZMK_BASE_LAYER(Nav,
//╭─────────────┬─────────────┬─────────────┬───────────────────┬─────────────────╮ ╭─────────────┬─────────────┬─────────────┬───────────────────┬─────────────╮
   &kp ESC          &kp LG(W)    &kp LG(E)    &kp LG(R)              &kp LG(T)    ,    &kp PG_UP      &kp HOME      &kp UP        &kp END             &kp PG_DN ,
//├─────────────┼─────────────┼─────────────┼───────────────────┼─────────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────┼─────────────┤
   &kp LCTRL        &kp LALT    &kp LGUI      &kp_kp LSHFT LG(T) &kp LA(LG(LS(Y))),   &kp LG(LBKT)    &kp LEFT      &kp DOWN   &kp_kp LG(R) RIGHT  &kp LG(RBKT) ,
//├─────────────┼─────────────┼─────────────┼───────────────────┼─────────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────┼─────────────┤
   &kp LG(Z)        &kp LG(X)    &copy_cut    &paste_buff        &kp LS(LG(O))    ,   &kp LG(LEFT) &kp LA(LEFT)  &kp LS(LG(J)) &kp LA(RIGHT)       &kp LG(RIGHT),
//╰─────────────┼─────────────┴─────────────┼───────────────────┼─────────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────────────────────────╯
                                                 ___                 ___          ,   &kp LC(LA(LG(TAB)))    ___                                              
//                                          ╰───────────────────┴─────────────────╯ ╰─────────────┴─────────────╯                                          
)

