
// QWERTY
ZMK_BASE_LAYER(Base,
//╭─────────────┬─────────────┬───────────────┬───────────────┬───────────────────╮ ╭───────────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   Q_ESC             AS(W)      AS(E)           AS(R)           AS(T)             ,   AS(Y)               AS(U)         AS(I)         AS(O)         AS(P)       ,
//├─────────────┼─────────────┼───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &hml LCTRL A    &hml LALT S   &hml LGUI D    AS(F)           AS(G)             ,   AS(H)               AS(J)         &hmr LGUI K  &hmr LALT L  &hmr LCTRL SQT,
//├─────────────┼─────────────┼───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   AS(Z)           AS(X)         AS(C)          AS(V)           AS(B)             ,   AS(N)               AS(M)         SMART_COMMA   SMART_DOT    Q_EXCL_SLSH  ,
//╰─────────────┼─────────────┴───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┴───────────────────────────╯
                                                SFT_NAV_SPC        FN_TAB       ,   SYM_DEL             SMART_NUM                                              
//                                            ╰───────────────┴───────────────────╯ ╰───────────────────┴─────────────╯                                          
)

ZMK_BASE_LAYER(Nav,
//╭─────────────┬─────────────┬─────────────┬───────────────────┬─────────────────╮ ╭───────────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   &tog NAV          &kp LG(W)    &kp LG(E)    &kp LG(R)          &kp LG(T)       ,       &kp PG_UP        &kp HOME      &kp UP        &kp END       &kp PG_DN  ,
//├─────────────┼─────────────┼─────────────┼───────────────────┼─────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &kp LCTRL        &kp LALT      &kp LGUI    &kp LG(F)          &kp LA(LG(LS(Y))),       &kp LG(LBKT)    &kp LEFT       &kp DOWN      &kp RIGHT   &kp LG(RBKT) ,
//├─────────────┼─────────────┼─────────────┼───────────────────┼─────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &kp LG(Z)        &kp LG(X)    &copy_cut   &kp_kp LA(LS(C)) LG(V) &kp LS(LG(O)) ,       &kp LG(LEFT)   &kp LA(LEFT)  &kp LS(LG(J)) &kp LA(RIGHT) &kp LG(RIGHT),
//╰─────────────┼─────────────┴─────────────┼───────────────────┼─────────────────┤ ├───────────────────┼─────────────┼─────────────┴───────────────────────────╯
                                                &tog_spc            &tog NAV      ,       &tog NAV        &tog_enter                                     
//                                          ╰───────────────────┴─────────────────╯ ╰───────────────────┴─────────────╯                                          
)
