
// QWERTY
ZMK_BASE_LAYER(Base,
//╭─────────────┬─────────────┬───────────────┬───────────────┬───────────────────╮ ╭───────────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   Q_ESC             AS(W)      AS(E)           AS(R)           AS(T)             ,   AS(Y)               AS(U)         AS(I)         AS(O)         AS(P)       ,
//├─────────────┼─────────────┼───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &hml LCTRL A    &hml LALT S   &hml LGUI D    &hml LSHFT F   &hml LG(LC(LALT)) G,  &hmr LG(LC(LALT)) H  &hmr RSHFT J  &hmr LGUI K  &hmr LALT L  &hmr LCTRL SQT,
//├─────────────┼─────────────┼───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   AS(Z)           AS(X)         AS(C)          AS(V)           AS(B)             ,   AS(N)               AS(M)         SMART_COMMA   SMART_DOT    Q_EXCL_SLSH  ,
//╰─────────────┼─────────────┴───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┴───────────────────────────╯
                                                &lt_spc NAV 0        SFT_TAB      ,   FN_DEL             SMART_NUM                                              
//                                            ╰───────────────┴───────────────────╯ ╰───────────────────┴─────────────╯                                          
)
