
// QWERTY
ZMK_BASE_LAYER(Base,
//╭─────────────┬─────────────┬───────────────┬───────────────┬───────────────────╮ ╭───────────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   Q_ESC             AS(W)      AS(E)           AS(R)           AS(T)             ,   AS(Y)               AS(U)         AS(I)         AS(O)         AS(P)       ,
//├─────────────┼─────────────┼───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   CTRL_A            ALT_S     CMD_D            AS(F)           AS(G)             ,   AS(H)               AS(J)         CMD_K         ALT_L         CTRL_SQT    ,
//├─────────────┼─────────────┼───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   AS(Z)           AS(X)         AS(C)          AS(V)           AS(B)             ,   AS(N)               AS(M)         SMART_COMMA   SMART_DOT    Q_EXCL_SLSH  ,
//╰─────────────┼─────────────┴───────────────┼───────────────┼───────────────────┤ ├───────────────────┼─────────────┼─────────────┴───────────────────────────╯
                                                SFT_NAV_SPC          FN_TAB       ,   SYM_DEL             SMART_NUM                                              
//                                            ╰───────────────┴───────────────────╯ ╰───────────────────┴─────────────╯                                          
)

//  ZMK_BASE_LAYER(Nav,
// //╭─────────────┬─────────────┬─────────────┬───────────────────┬─────────────────╮ ╭───────────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//    &tog NAV       C_NV(LG(W))   C_NV(LG(E))     C_NV(LG(R))      C_NV(LG(T))      ,     C_NV(PG_UP)       C_NV(HOME)    &kp UP         C_NV(END)    C_NV(PG_DN) ,
// //├─────────────┼─────────────┼─────────────┼───────────────────┼─────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      &kp LCTRL       &kp LALT      &kp LGUI      C_NV(LG(F))     C_NV(LA(LG(LS(Y)))),    C_NV(LG(LBKT))    &kp LEFT      &kp DOWN      &kp RIGHT   C_NV(LG(RBKT)),
// //├─────────────┼─────────────┼─────────────┼───────────────────┼─────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//     C_NV(LG(Z))   C_NV(LG(X))   C_NV(LG(C))   C_NV(LA(LS(C)))    C_NV(LS(LG(O)))  ,     C_NV(LG(LEFT))    &kp LA(LEFT)  &kp LS(LG(J)) &kp LA(RIGHT) C_NV(LG(RIGHT)),
// //╰─────────────┼─────────────┴─────────────┼───────────────────┼─────────────────┤ ├───────────────────┼─────────────┼─────────────┴───────────────────────────╯
//                                                 &tog_spc            &tog NAV      ,       &tog NAV        &tog_enter                                     
// //                                          ╰───────────────────┴─────────────────╯ ╰───────────────────┴─────────────╯                                          
// )

 ZMK_BASE_LAYER(Nav,
//╭─────────────┬─────────────┬─────────────┬───────────────────┬─────────────────╮ ╭───────────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   &kp ESC         &kp LG(W)      &kp LG(E)       &kp LG(R)        &kp LG(T)      ,    &kp PG_UP           &kp HOME      &kp UP        &kp END        &kp PG_DN ,
//├─────────────┼─────────────┼─────────────┼───────────────────┼─────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp LCTRL       &kp LALT      &kp LGUI      &kp LG(F)       &kp LA(LG(LS(Y))),      &kp LG(LBKT)        &kp LEFT      &kp DOWN    &kp RIGHT    &kp LG(RBKT),
//├─────────────┼─────────────┼─────────────┼───────────────────┼─────────────────┤ ├───────────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &kp LG(Z)      &kp LG(X)      &kp LG(C)       &paste_buff      &kp LS(LG(O))    ,    &kp LG(LEFT)      &kp LA(LEFT) &kp LS(LG(J)) &kp LA(RIGHT) &kp LG(RIGHT),
//╰─────────────┼─────────────┴─────────────┼───────────────────┼─────────────────┤ ├───────────────────┼─────────────┼─────────────┴───────────────────────────╯
                                                      ___                ___      ,          ___             ___                                    
//                                          ╰───────────────────┴─────────────────╯ ╰───────────────────┴─────────────╯                                          
)


